<script id="cueTemplate" type="text/template">


    <% if(type === "cue") { %>
      <div class="dd-handle dd3-handle">
        Drag
      </div>
      <div class="cue-description dd3-content">
      <h5>
        <strong><%= index %> :</strong>
        <textarea class="form-control descriptionTextarea" rows="1" style="width: 98%; margin-left: 16px; margin-top: -27px;"><%= description %></textarea>
      </h5>
      </div>

    <% } else { %>
      <div class="dd-handle dd3-section-handle">
        Drag
      </div>
      <div class="cue-description dd3-section-content">
        <h5><%= description %></h5>
      </div>
    <% } %>

</script>
