<script id="editItemTemplate" type="text/template">


    <% if(list_type === "item") { %>
        
      <div class="dd-handle dd3-handle">
        Drag
      </div>
      <div class="listItemDescription dd3-content">
        <h5>
          <strong><span id="index_text_<%= id %>"><%= index %></span> :</strong>
          <textarea class="form-control descriptionTextarea" rows="1" style="width: 98%; margin-left: 16px; margin-top: -27px"><%= title %></textarea>
        </h5>
      </div>

    <% } else { %>
      <div class="dd-handle dd3-section-handle">
        Drag
      </div>
      <div class="listItemDescription dd3-section-content">
        <h5>
          <textarea class="form-control descriptionTextarea" rows="1" style="width: 98%; margin-left: 16px; margin-top: -11px; background-color: #505358; height: 37px; color: #FFF"><%= title %></textarea>
        </h5>
      </div>
    <% } %>

</script>
