<script id="homeTemplate" type="text/template">

  <div id="modalTerms" class="modal"></div>

  <div class="container">
  <br />
    <img src="imgs/chs_logo__black_3d__transparent_bg__with_title_crop900.png" class="img-responsive" alt="chs logo" style="margin:auto">

    <br /><br />
  
    
    <div class="text-center">

        <h4> Welcome to <strong>Clubhouse Studios</strong>, where years of audio experience, musicianship, and technical expertise are combined to bring you the highest quality audio, video, and live mix sound. </h4>
        <br />

        <button class="btn btn-success btn-lg purchaseButton">
          <i class="icon-shopping-cart bigger-150"></i>
          Purchase Recordings
        </button>

        <br /><br />

        <h3>
          Audio Recording • Live Web Streaming • HD Video Recording 
          <br />
          Photography • CD, DVD, Blu-ray Distribution
          <br />
          Live Sound Production
        </h3>

        <br /><br />

        <h5>
          <a href="mailto:support@clubhouse-studios.com">Support</a>
          |
          <a href="#" id="termsOfService">Terms of Service</a>
          |
          <a href="https://www.clubhouse-studios.com/v1/php/privacy_policy_chs.php">Privacy Policy</a>
        </h5>
<!--
        <h3> 
          <a href="#" class="sampleScroll">See samples</a> <span class="glyphicon glyphicon-arrow-down"></span> or <a href="#contact">Contact Us</a>
        </h3>

        <br /><br /><br />
-->

        <!--
        <br />
        <hr />
        <h3>Recording Samples</h3>

        <ul class="nav nav-tabs" id="samplesTab">
          <li><a href="#firstSample" data-toggle="tab">Jazz</a></li>
          <li><a href="#secondSample" data-toggle="tab">Choir</a></li>
          <li><a href="#thirdSample" data-toggle="tab">Wind Symphony</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade" id="firstSample">
            <video id="chsSample1" class="video-js vjs-default-skin" controls preload="auto" width="787">
              <source src="https://d3ojrspzc3qsb0.cloudfront.net/demo_files/chs_video_demo1_rev.mp4" type='video/mp4' />
            </video>
          </div>
          <div class="tab-pane fade" id="secondSample">
            <video id="chsSample2" class="video-js vjs-default-skin" controls preload="auto" width="787">
              <source src="https://d3ojrspzc3qsb0.cloudfront.net/demo_files/chs_video_demo2_rev.mp4" type='video/mp4' />
            </video>
          </div>
          <div class="tab-pane fade" id="thirdSample">
            <video id="chsSample3" class="video-js vjs-default-skin" controls preload="auto" width="787">
              <source src="https://d3ojrspzc3qsb0.cloudfront.net/demo_files/chs_video_demo3.mp4" type='video/mp4' />
            </video></div>
        </div>
        -->

    </div>

  </div>

</script>
