<script id="homeNavbarLayoutTemplate" type="text/template">


    <div class="navbar navbar-default" id="navbar">
      <div class="navbar-container container homeNavbar" id="navbar-container">
        <div class="navbar-header pull-left">
          <ul class="nav ace-nav">
            <a href="#" class="navbar-brand">
              <small>
                <img src="/imgs/favicon/chs_logo_favicon_32x32.png" style="margin-bottom: -10px;margin-top: -10px;" title="Clubhouse Studios">
              </small>
            </a><!-- /.brand -->


          
            <li class="light-blue2">
              <a href="/">
                <i class="icon-tasks"></i>
                Home
              </a>
            </li>

            <li class="light-blue2">
              <a href="news">
                <i class="icon-comments"></i>
                News
              </a>
            </li>

            <li class="light-blue2">
              <a href="store">
                <i class="icon-music"></i>
                Store
              </a>
            </li>


            <li class="shoppingCart light-blue" style="display:none"><a class="homeButtonInStore" href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="shoppingCart light-blue" style="display:none"><a href="#cart"><span class="glyphicon glyphicon-shopping-cart"></span><span id="cartCount" class="badge badge-important"></span></a></li>
          </ul>

        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
            <div id="signInSpace2"></div>
          </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
      </div><!-- /.container -->

      <div class="text-center red outdatedBrowserWarning" style="display:none">
        <br /><br />
        <h1>
          <i class="icon-warning-sign bigger-250"></i>
          Warning: Your browser is unsupported
        </h1>
        <h2>
          This site will not work as expected. <br />
          Please upgrade your browser to the latest version of Firefox or Chrome.<br />
        </h2>
        <div style='clear: both; height: 112px; padding:0; position: relative;'>
          <a href="http://www.theie8countdown.com/ie-users-info">
            <img src="imgs/badge_iecountdown.png" border="0" height="112" width="348" alt="" />
          </a>
        </div>
      </div>
    </div>






</script>

<!--

    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img style="margin-top: -7px;margin-bottom: -3px;" src="/imgs/favicon/chs_logo_favicon_32x32.png"> Clubhouse Studios</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
          
          <ul class="nav navbar-nav shoppingCart" style="display:none">
            <li><a class="homeButtonInStore" href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li><a href="#cart"><span class="glyphicon glyphicon-shopping-cart"></span><span id="cartCount" class="badge badge-important"></span></a></li>
          </ul>

          <ul class="nav navbar-nav ace-nav mainNavButtons" style="display:block">
            <li id="homeNavButton" class="active purple"><a href="#">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#store">Store</a></li>
          </ul>

          <div id="signInSpace2"></div>
        </div>

      </div>
    </nav>