<script id="homeTemplate" type="text/template">


  <div class="container">
  <br />
    
    <div class="text-center">

        <h4> Welcome to <strong>Cue Tracker</strong> </h4>
        <br />

    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <button class="btn btn-success newCue">New Cue</button>
        <button class="btn btn-danger">Delete Cue</button>
        <button class="btn btn-primary">Add Section</button>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cues</h3>
      </div>
      <div class="panel-body">
        
        <div class="dd" id="nestable3">
          <ol class="dd-list">

          </ol>

        </div>

        <!--
        <ul id="cueSortable" class="gradient-list collection-list ui-sortable" tabindex="0">
          
        </ul>
        -->

        <!--
        <table id="demoSortableTables" class="table table-hover collection-list">
          <thead>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        -->

      </div>
    </div>

  </div>

</script>
