<script id="cueTemplate" type="text/template">


    <% if(list_type === "item") { %>
        
      <% if(list_mode === "edit") { %>
        
        <div class="dd-handle dd3-handle">
          Drag
        </div>
        <div class="cue-description dd3-content">
          <h5>
            <strong><%= index %> :</strong>
            <textarea class="form-control descriptionTextarea" rows="1" style="width: 98%; margin-left: 16px; margin-top: -27px"><%= title %></textarea>
          </h5>
        </div>

      <% } else { %>

        <div class="panel panel-default live-item" style="height:50px">
          <div class="panel-body">
            <button type="button" data-id='<%= id %>' data-index='<%= index %>' class="btn btn-grey btn-lg btn-block listItemButton list_item_<%= state %>" style="text-align: left; padding-left: 10px; " id="btn-<%= id %>"><%= title %></button>
          </div>
        </div>

      <% } %>
    <% } else { %>
      <div class="dd-handle dd3-section-handle">
        Drag
      </div>
      <div class="cue-description dd3-section-content">
        <h5>
          <textarea class="form-control descriptionTextarea" rows="1" style="width: 98%; margin-left: 16px; margin-top: -11px; background-color: #505358; height: 37px; color: #FFF"><%= title %></textarea>
        </h5>
      </div>
    <% } %>

</script>
