<script id="listsTemplate" type="text/template">


  <div class="container">
  <br />
    
    <div class="text-center">

        <h4> Welcome to <strong>Live List</strong> </h4>
        <br />

    </div>

    <div class="panel panel-default">
      <div class="panel-body row">
        <div class="col-lg-10 col-xs-9 col-sm-10 col-md-10">
          <button class="btn btn-success newList">New List</button>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
          <button type="button" class="pull-right btn btn-default list_help_button">
            <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Help
          </button>
        </div>

      </div>
    </div>


    <div class="panel panel-default ">
      <div class="panel-heading">
        <h3 class="panel-title">Items</h3>
      </div>
    <div class="panel-body lists listsPanel">
        

      </div>
    </div>

  </div>

</script>
