<script id="homeTemplate" type="text/template">


  <div class="container">
  <br />
    
    <div class="row listTitleDiv">

      <!--Name of list goes here -->
      <div class="col-xs-10 col-sm-8 col-md-8 col-lg-8 listTitle">
      -
      </div>

      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
        
        <a href="#" id="listInNewTab" target="_blank" type="button" class="btn btn-default pull-right" data-bypass="true">
          <label class="hidden-xs">Open List in New Tab &nbsp;</label>
          <span class="glyphicon glyphicon-new-window"></span>
        </a>
      </div>
      
    </div>

    <br />

    <div class="panel panel-default controlsNavbarClass" id="controlsNavbar">
      <div class="panel-body row">
        <div class="col-xs-5 col-md-5 col-lg-5">
          
          <div class="visible-lg">
            <a class="btn btn-info" href="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <button class="btn btn-success newCue">New Item</button>
            <button class="btn btn-danger deleteCue">Delete Item</button>
            <button class="btn btn-primary newSection">New Section</button>
          </div>

          <div class="hidden-lg">
            <a class="btn btn-info" href="/"><span class="glyphicon glyphicon-arrow-left"></span></a>
            <button class="btn btn-success newCue"><span class="glyphicon glyphicon-plus"></span></button>
            <button class="btn btn-danger deleteCue"><span class="glyphicon glyphicon-remove"></span></button>
            <button class="btn btn-primary newSection"><span class="glyphicon glyphicon-plus"></span></button>
          </div>
        </div>

        <div class="col-xs-5 col-md-4 col-lg-4">
          <button id="toggleTimer" class="btn toggleTimer"></button>
          <span class="timerSpan"><input id="clock" value="00:00:00" style="color:#000"></span>
        </div>

        <div class="col-xs-2 col-md-3 col-lg-3">
          <input class="pull-right" type="checkbox" name="live-edit-switch" id="live-edit-switch" checked data-on-text="Live" data-off-text="Edit" data-off-color="danger" data-on-color="success">
          <label class="pull-right hidden-xs hidden-sm" for="live-edit-switch" style="font-size:1.2em">Mode: &nbsp;</label>
        </div>
      </div>
    </div>


    <div class="panel panel-default listItemsPanel">
      <div class="panel-heading">
        <h3 class="panel-title">Items</h3>
      </div>
      <div class="panel-body">
        
        <div class="dd" id="nestable3">
          <ol class="dd-list">

          </ol>

        </div>

        <!--
        <ul id="cueSortable" class="gradient-list collection-list ui-sortable" tabindex="0">
          
        </ul>
        -->

        <!--
        <table id="demoSortableTables" class="table table-hover collection-list">
          <thead>
            <tr>
              <td>First Name</td>
              <td>Last Name</td>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        -->

      </div>
    </div>

  </div>

  <div class="fakeFooter">
  </div>

</script>
